.top-bar{
    margin-bottom: 2em;
}

.top-bar, ul.dropdown.menu, .menu > li, ul.menu{
    background-color: #363636;
}

body{
    background-color: #ededed;
}

.tabs-title > a{
    font-size: 1.2em;
    font-weight: bold;
    color:black;
}

.tabs-title > a:hover{
    font-size: 1.2em;
    font-weight: bold;
    color:black;
    background-color: #919191;
}

.tabs-title > a[aria-selected="true"] {
    background-color: #363636;
    color: white;
}

li.menu-text{
    font-size: 2em;
    color: white !important;
}
