
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OChess</title>
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/custom.css">
  </head>
  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">OChess</li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><span class="label alert">Last update: {{ date }}</span></li>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">

          <ul class="tabs" data-tabs id="menu-tabs">
            <li class="tabs-title is-active"><a href="#pres-panel" aria-selected="true">Presentation</a></li>
            <li class="tabs-title"><a data-tabs-target="wn-panel" href="#wn-panel">What's New?</a></li>
            <li class="tabs-title"><a data-tabs-target="dl-panel" href="#dl-panel">Download</a></li>
            <li class="tabs-title"><a data-tabs-target="dev-panel" href="#dev-panel">Contribute!</a></li>
          </ul>

          <div class="tabs-content" data-tabs-content="menu-tabs">
            <div class="tabs-panel is-active" id="pres-panel">
              <h5>
                OChess is an open source chess desktop application which aims at becoming a chess analysis and database management tool.
                <div align="center">
                  <img class="thumbnail" width="30%" src="assets/img/screenshot.jpg" alt="OChess Screen Capture.">
                </div>
              </h5>
            </div>
            <div class="tabs-panel" id="wn-panel">
              {{ ochess["changelog"]|safe }}
            </div>
            <div class="tabs-panel" id="dl-panel">
              <h5>Ready to run applications:
              <div class="button-group">
                <a class="button">Linux (x64)</a>
                <a class="button warning">Windows (x64)</a>
              </div>
            </div>
            <div class="tabs-panel" id="dev-panel">

              <div class="grid-container">
                <div class="grid-x grid-padding-x">
                  <div class="large-9 cell">
                    <h5>
                      Project repository is available on git along with the source code documentation. You can contact us on freenode IRC server on channel #ochess.
                    </h5>
                  </div>
                  <div class="large-3 cell">
                    <div class="callout secondary">
                      <h5>
                        <a class="button alert expanded" target="_blank" href="https://gitlab.com/manzerbredes/ochess">Repository</a>
                        <a class="button expanded" target="_blank" href="./doc/index.html">Documentation</a>
                        <a class="button expanded secondary" target="_blank" href="https://kiwiirc.com/nextclient/chat.freenode.net/#ochess">Contact</a>
                      </h5>
                    </div>
                  </div>

                  <div class="large-12 cell">
                    <h4><b>Last Project Statistics:</b></h4>
                    <table>
                      <thead>
                        <tr>
                          <th>Source Files</th>
                          <th>Line Number</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ ochess["nfiles"] }}</td>
                          <td>{{ ochess["nlines"] }}</td>
                        </tr>
                      </tbody>
                    </table>        
                  </div>
                </div>
              </div>
              
            
            </div>
          </div>
        </div>
      </div>
    </div>




    <script src="assets/js/app.js"></script>
  </body>
</html>
